mixin inputs(nameIdFor, type)
  .group
    - if (type === 'submit')
      input(type="#{type}", id="#{typnameIdFor}" )
    - else
      label(for="#{nameIdFor}") #{nameIdFor}
      input(type="#{type}", id="#{nameIdFor}", name="#{nameIdFor}")&attributes(attributes)