mixin inputs(type)
  .group
      label(for=attributes.id || "#{type}")= attributes.id || type
      - if (type === 'submit' || type === 'reset')
        input(type="#{type}", id=attributes.id || "#{type}" )&attributes(attributes)
      - else if (type === 'radio')
        input(type="#{type}", id=attributes.id || "#{type}", name="#{type}" value=attributes.id)&attributes(attributes)
      - else
        input(type="#{type}", id=attributes.id || "#{type}", name=attributes.id || "#{type}" )&attributes(attributes)

mixin preCode(str)
  pre <code>#{str}</code>

mixin preCodeInline(str)
  pre.inline <code>#{str}</code>